<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="aerogear-cordova-crypto"
        version="0.0.3">

  <name>AeroGear Crypto Plugin</name>

  <description>
    This plugin mimics the api of the aerogear-js crypto functions as close as possible, but delegates the work to the
    native implementations
  </description>

  <license>MIT</license>
  <keywords>cordova,aerogear,crypto</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
    <engine name="cordova-android" version=">=3.7.2" />
  </engines>

  <dependency id="es6-promise-plugin" url="https://github.com/vstirbu/PromisesPlugin.git"/>
  <js-module src="www/aerogear.crypto.js" name="AeroGear">
    <clobbers target="AeroGear"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="crypto">
          <param name="android-package" value="org.jboss.aerogear.cordova.crypto.CryptoPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/org/jboss/aerogear/cordova/crypto/CryptoPlugin.java" target-dir="src/org/jboss/aerogear/cordova/crypto/"/>

    <source-file src="src/android/libs/aerogear-crypto-0.1.5-android.jar" target-dir="libs"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="crypto">
        <param name="ios-package" value="CryptoPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/ios/CryptoPlugin.m"/>
    <header-file src="src/ios/CryptoPlugin.h"/>

    <header-file src="src/ios/0.1.0/AeroGearCrypto.h"/>
    <header-file src="src/ios/0.1.0/AGCryptoBox.h"/>
    <source-file src="src/ios/0.1.0/AGCryptoBox.m"/>
    <header-file src="src/ios/0.1.0/AGPBKDF2.h"/>
    <source-file src="src/ios/0.1.0/AGPBKDF2.m"/>
    <header-file src="src/ios/0.1.0/AGRandomGenerator.h"/>
    <source-file src="src/ios/0.1.0/AGRandomGenerator.m"/>
    <header-file src="src/ios/0.1.0/AGSymmetricCryptoEngine.h"/>
    <source-file src="src/ios/0.1.0/AGSymmetricCryptoEngine.m"/>

    <framework src="Security.framework"/>
  </platform>

</plugin>
